body {
  background: #000000 url(../images/bg.jpg) no-repeat 50% 50% / auto 100%;
  background-attachment: fixed;

  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  padding: 0;
}
.bg-mask {
  background: rgba(0,0,0,0.5);
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
}
.block-twitch-app {
  padding: 50px 0;
  margin: auto;
  width: 80%;
  position: relative;
  z-index: 100;
  .channel-list {
    margin: 0;
    padding: 0;
    list-style: none;
    .channel-item {
      display: inline-block;
      vertical-align: top;
      margin: 0 -4px 30px 3%;
      width: 30%;
      background: #fff;
      transition: ease 0.3s;
      cursor: pointer;
      a {
        color: #64439a;
        &:hover {
          color: #333;
        }
      }
      &:hover {
        box-shadow: 0 0 30px rgba(0,0,0,0.8);
        .thumb-channel{
          -webkit-filter: brightness(130%);
          filter: brightness(130%);
        }
      }
      .thumb-channel {
        background: #64439a url(../images/twitch.jpg) no-repeat 50% 0 / auto 100%;
        height: calc(100vw * 0.133);
        transition: 0.3s;
        overflow: hidden;
        img {
          display: block;
          height: auto;
          width: 100%;
          opacity: 0;
          transition: 0.3s;
        }
      }
      .info-channel {

        .author-info {
          float: left;
          width: 40px;
          margin: 10px;
          box-sizing: border-box;
          background: #ddd url(../images/author.png) no-repeat 50% 0/auto 100%;
          border-radius: 50%;
          overflow: hidden;
          border: 3px solid #64439a;
          height: 40px;
          img {
            display: block;
            height: auto;
            width: 100%;
            opacity: 0;
            transition: 0.3s;
            &[src="null"] {
              display: none !important;
            }
          }
        }
        .title-info {
          float: right;
          width: calc(100% - 60px);
          padding: 10px;
          box-sizing: border-box;
          .title-info-text {
            display: block;
            max-height: 1.8em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 20px;
          }
          .author-info-text {
            color: #888;
          }
        }
      }
    }
  }
  .loading {
    font-size: 16px;
    padding: 20px 0;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .block-twitch-app {
    .channel-list {
      .channel-item {
        width: 47%;
        .thumb-channel {
          height: calc(100vw * 0.205);
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .block-twitch-app {
    .channel-list {
      .channel-item {
        width: 100%;
        margin: 0 0 30px;
        .thumb-channel {
          height: calc(100vw * 0.435);
        }
      }
    }
  }
}