/* line 1, ../sass/style.scss */
body {
  background: #000000 url(../images/bg.jpg) no-repeat 50% 50%/auto 100%;
  background-attachment: fixed;
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/style.scss */
.bg-mask {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
}

/* line 19, ../sass/style.scss */
.block-twitch-app {
  padding: 50px 0;
  margin: auto;
  width: 80%;
  position: relative;
  z-index: 100;
}
/* line 25, ../sass/style.scss */
.block-twitch-app .channel-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 29, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 -4px 30px 3%;
  width: 30%;
  background: #fff;
  transition: ease 0.3s;
  cursor: pointer;
}
/* line 37, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item a {
  color: #64439a;
}
/* line 39, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item a:hover {
  color: #333;
}
/* line 43, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}
/* line 45, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item:hover .thumb-channel {
  -webkit-filter: brightness(130%);
  filter: brightness(130%);
}
/* line 50, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item .thumb-channel {
  transition: 0.3s;
}
/* line 52, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item .thumb-channel img {
  display: block;
  height: auto;
  width: 100%;
}
/* line 60, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item .info-channel .author-info {
  float: left;
  width: 60px;
  padding: 10px;
  box-sizing: border-box;
}
/* line 65, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item .info-channel .author-info img {
  display: block;
  height: auto;
  width: 100%;
  border-radius: 50%;
}
/* line 72, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item .info-channel .title-info {
  float: right;
  width: calc(100% - 60px);
  padding: 10px;
  box-sizing: border-box;
}
/* line 77, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item .info-channel .title-info .title-info-text {
  display: block;
  max-height: 1.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
}
/* line 85, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item .info-channel .title-info .author-info-text {
  color: #888;
}
