/* line 1, ../sass/style.scss */
body {
  background: #000000 url(../images/bg.jpg) no-repeat 50% 50%/auto 100%;
  background-attachment: fixed;
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/style.scss */
.bg-mask {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
}

/* line 19, ../sass/style.scss */
.block-twitch-app {
  padding: 50px 0;
  margin: auto;
  width: 80%;
  position: relative;
  z-index: 100;
}
/* line 25, ../sass/style.scss */
.block-twitch-app .channel-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 29, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 -4px 30px 3%;
  width: 30%;
  background: #fff;
  transition: ease 0.3s;
  cursor: pointer;
}
/* line 37, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item a {
  color: #64439a;
}
/* line 39, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item a:hover {
  color: #333;
}
/* line 43, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}
/* line 45, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item:hover .thumb-channel {
  -webkit-filter: brightness(130%);
  filter: brightness(130%);
}
/* line 50, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item .thumb-channel {
  background: #64439a url(../images/twitch.jpg) no-repeat 50% 0/auto 100%;
  height: calc(100vw * 0.133);
  transition: 0.3s;
  overflow: hidden;
}
/* line 55, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item .thumb-channel img {
  display: block;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: 0.3s;
}
/* line 65, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item .info-channel .author-info {
  float: left;
  width: 40px;
  margin: 10px;
  box-sizing: border-box;
  background: #ddd url(../images/author.png) no-repeat 50% 0/auto 100%;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #64439a;
  height: 40px;
}
/* line 75, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item .info-channel .author-info img {
  display: block;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: 0.3s;
}
/* line 81, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item .info-channel .author-info img[src="null"] {
  display: none !important;
}
/* line 86, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item .info-channel .title-info {
  float: right;
  width: calc(100% - 60px);
  padding: 10px;
  box-sizing: border-box;
}
/* line 91, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item .info-channel .title-info .title-info-text {
  display: block;
  max-height: 1.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
}
/* line 99, ../sass/style.scss */
.block-twitch-app .channel-list .channel-item .info-channel .title-info .author-info-text {
  color: #888;
}
/* line 106, ../sass/style.scss */
.block-twitch-app .loading {
  font-size: 16px;
  padding: 20px 0;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  display: none;
}

@media screen and (max-width: 768px) {
  /* line 118, ../sass/style.scss */
  .block-twitch-app .channel-list .channel-item {
    width: 47%;
  }
  /* line 120, ../sass/style.scss */
  .block-twitch-app .channel-list .channel-item .thumb-channel {
    height: calc(100vw * 0.205);
  }
}
@media screen and (max-width: 480px) {
  /* line 130, ../sass/style.scss */
  .block-twitch-app .channel-list .channel-item {
    width: 100%;
    margin: 0 0 30px;
  }
  /* line 133, ../sass/style.scss */
  .block-twitch-app .channel-list .channel-item .thumb-channel {
    height: calc(100vw * 0.435);
  }
}
